
<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<script src="/public/assets/javascripts/requestAnimationFrame.js"></script>
		<script src="/public/assets/javascripts/tinycolor.js"></script>
		<script src="/public/assets/javascripts/husl.js"></script>
		<script src="/public/assets/javascripts/tiles.js"></script>
	</head>
	<style>
		body {
			margin:0;
			padding:0;
			transition: background-color 2s;
		}
		canvas {
			opacity: 0.9;
			margin: 0;
		}
	</style>
<body>

<%= yield %>
	<canvas id="canvas"></canvas>

</body>
</html>
