// Place all the styles related to the onetwentyone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin:0;
	padding:0;
	transition: background-color 2s;
	-moz-transition: background-color 2s;
	-webkit-transition: background-color 2s;
	-o-transition: background-color 2s;
	background: #FFF;
}
canvas {
	opacity: 0.9;
	margin: 0;
}
